.calculadora {
    width: 350px;
    margin: 50px auto;
    border: 10px solid #f377a0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    padding: 15px;
    background-color: #fae3ea;
    border-bottom: 2px solid #ecd5df;
    text-align: right;
  }
  
  .display input {
    width: calc(100% - 30px);
    margin-bottom: 15px;
    padding: 10px;
    font-size: 30px;
    color: rgb(12, 12, 12);
    border: none;
    background-color: #fae3ea;
    outline: none;
  }
  
  .display .result {
    font-size: 40px;
    font-weight: bold;
    color: #070707;
    
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
  }
  
  button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #e91e63;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ad1457;
  }
  